body{
    font-family: sans-serif;
    margin: 0;
    justify-content: center;
}

header{
    background-color: black;
    display: flex;
    min-height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Encabezado{
    display: flex;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
}


nav, a{
    display: flex;
    padding: 10px;
    font-weight: 600;
    padding-right: 10px;
}
nav, a:hover{
    color: rgb(242, 174, 48);
}


@media (max-width: 700px){
    header{
        flex-direction: column;
    }
}

.Posts-Container{
    padding-top: 50px;
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.Posts-Container .Post-block{
    width: 330px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.Posts-Container .Post-block:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.Posts-Container .Post-block p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.Posts-Container button{
    margin: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.show {
    pointer-events: auto;
    opacity: 1;
}

.comment-block{
    background-color: rgb(200, 205, 210);
    margin: 20px;
}
.comment-block p{
    text-align: justify;
    color: #000000;
}
